# COGS 108 - Data Checkpoint

# Names

- Nilou Shahbandi
- Leonardo Gonzalez
- Brian Chen
- Tin-Trung Pham
- Zhongkang(ken) Fang

<a id='research_question'></a>
# Research Question

*How do different pollutants in California impact the rate of cancer in individuals, and how does pollutants affect rate of Asthma?*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: Current Asthma by State, 2018
- Link to the dataset: https://www.lung.org/research/trends-in-lung-disease/asthma-trends-brief/data-tables/asthma-current-state
- Number of observations: 32

 National child asthma prevalence is based on data from 31 states and Washington, D.C. 
 Child asthma data is from 2018 unless an earlier year is noted, in which case that is the most recent year of data available.  If a state has not collected child asthma data since 2011, no rate is listed.
 
 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
- This dataset is by state, maybe we can combine with the AQI by state to do a comparison with Asthmas by state vs Pollution by state

# Setup

In [11]:
## YOUR CODE HERE
import pandas as pd 
import numpy as np

In [12]:
# Ashthma by states: https://www.lung.org/research/trends-in-lung-disease/asthma-trends-brief/data-tables/asthma-current-state
df = pd.read_csv('data/Asthma.csv')

df.head()

        State ChildCount Percent    Year AdultCount Percent.1
0     Alabama    141,500  13.20%  2014.0    394,600    10.50%
1      Alaska        ---     ---     NaN     50,700     9.20%
2     Arizona    129,200   8.10%  2016.0    545,100    10.00%
3    Arkansas        ---     ---     NaN    225,900     9.80%
4  California    542,700   6.20%     NaN  2,607,600     8.50%

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: annual_aqi_by_county_2010
- Link to the dataset:https://aqs.epa.gov/aqsweb/airdata/download_files.html
- Number of observations: 999

### Description:
- data contains AQI, calculated each day for each monitor for the Criteria Gases and PM10 and PM2.5 (FRM and non FRM).
- of Days CO, NO2, Ozone, SO2, PM2.5, PM10 where the daily monitor criteria were met.


### If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
- Since the data comes by counties within states we can extract the counties for all california and merge with our county_cancer data.
- We can also take the mean of all counties for each state and combine with the asthma data by states.

In [13]:
aqi = pd.read_csv('data/annual_aqi_by_county_2010.csv')
#aqi.columns = aqi.columns.str.replace(' ', '')
aqi.columns = aqi.columns.str.lower()
aqi.head()

,state,county,year,days with aqi,good days,moderate days,unhealthy for sensitive groups days,unhealthy days,very unhealthy days,hazardous days,max aqi,90th percentile aqi,median aqi,days co,days no2,days ozone,days so2,days pm2.5,days pm10
0,Alabama,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,0,82,0
1,Alabama,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,0,113,0
2,Alabama,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,0,241,0
3,Alabama,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,0,55,0
4,Alabama,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0,0

*Fill in your dataset information here*

(Copy this information for each dataset)

- Dataset Name: Lung and Bronchus Cancer Incidence in California
- Link to the dataset: [California Cancer Registry](https://explorer.ccrcal.org/application.html?site=47&data_type=1&graph_type=13&compareBy=sex&chk_sex_1=1&race=1&age_range=9&hdn_stage=101&year=4&advopt_precision=4&advopt_display=2#tableWrap)
- Number of observations: 9306

This data shows us the counts of lung or bronchus cancer in individuals of all races and sexes by county in California. It also includes breakdowns by age with additional statistics regarding the data.

We plan to use this data in combination with the pollution data to track the impact of pollution on lung or bronchus cancer indcidents in individuals living in California. By comparing changes in pollution with changes in cancer incident counts.

In [14]:
county_cancer = pd.read_csv('data/countyCancer.csv')
county_cancer.head()

,Year,Sex,Race/Ethnicity,Age,California Region,Stage at Diagnosis,"Age-adjusted Rate per 100,000",Age-adjusted Rate Standard Error,Age-adjusted Rate Lower Confidence Interval,Age-adjusted Rate Upper Confidence Interval,Count
0,2010,Both Sexes,All Races,All Ages,Alameda County,All Stages,44.8118,1.8013,41.3504,48.4812,646
1,2010,Both Sexes,All Races,All Ages,Butte County,All Stages,63.0616,4.9021,53.8195,73.5358,171
2,2010,Both Sexes,All Races,All Ages,Contra Costa County,All Stages,50.2429,2.2114,46.0016,54.7691,536
3,2010,Both Sexes,All Races,All Ages,El Dorado County,All Stages,54.2364,4.9899,44.8983,65.1021,124
4,2010,Both Sexes,All Races,All Ages,Fresno County,All Stages,51.7782,2.6266,46.7576,57.1687,401

# Data Cleaning

Describe your data cleaning steps here.

In [15]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

In [16]:
# data cleaning for asthma 
df.columns = df.columns.str.lower()

df = df.rename(columns={"childcount": "child", "percent": "child_percent", "adultcount": "adult",'percent.1': 'adult_percent'})

df = df.fillna(2018)
df["year"] = df["year"].astype(int)

df = df.replace(r'^/s*$',np.NaN,regex=True)
df

                   state    child child_percent  year      adult adult_percent
0                Alabama  141,500        13.20%  2014    394,600        10.50%
1                 Alaska      ---           ---  2018     50,700         9.20%
2                Arizona  129,200         8.10%  2016    545,100        10.00%
3               Arkansas      ---           ---  2018    225,900         9.80%
4             California  542,700         6.20%  2018  2,607,600         8.50%
5               Colorado      ---           ---  2018    399,400         9.10%
6            Connecticut   62,400         9.70%  2018    290,300        10.30%
7               Delaware      ---           ---  2018     77,000        10.10%
8   District of Columbia   12,700        10.90%  2018     66,400        11.60%
9                Florida  302,100         7.50%  2018  1,495,600         8.70%
10               Georgia  177,900         7.60%  2018    714,600         8.90%
11                Hawaii   30,000        10.20%  2018    104,400         9.30%
12                 Idaho      ---           ---  2018    112,000         8.60%
13              Illinois  163,900         6.00%  2018    860,000         8.70%
14               Indiana  115,600         8.70%  2018    509,700        10.00%
15                  Iowa   41,600         5.80%  2011    191,000         7.90%
16                Kansas   51,700         7.60%  2018    214,700         9.80%
17              Kentucky   57,000         5.90%  2018    395,300        11.50%
18             Louisiana   94,100         8.80%  2015    316,400         8.90%
19                 Maine   17,200         7.40%  2018    132,100        12.30%
20              Maryland   92,000         7.60%  2018    439,900         9.30%
21         Massachusetts   79,600         6.40%  2018    558,400        10.20%
22              Michigan  177,000         8.60%  2018    872,500        11.20%
23             Minnesota   66,700         5.30%  2018    357,200         8.30%
24           Mississippi   43,200         6.50%  2018    218,200         9.70%
25              Missouri  108,200         8.40%  2018    444,300         9.40%
26               Montana   11,700         5.30%  2018     82,700        10.00%
27              Nebraska   23,600         5.00%  2018    128,800         8.90%
28                Nevada   45,900         7.00%  2018    186,800         8.00%
29         New Hampshire   19,500         8.50%  2018    128,300        11.80%
30            New Jersey  133,100         7.20%  2018    593,200         8.40%
31            New Mexico   35,200         7.50%  2018    157,200         9.90%
32              New York  207,900         6.20%  2018  1,578,000        10.10%
33        North Carolina  250,600        11.50%  2014    757,800         9.40%
34          North Dakota   10,000         6.50%  2012     47,000         8.20%
35                  Ohio  189,400         7.80%  2018    854,200         9.40%
36              Oklahoma   88,700         9.80%  2016    307,600        10.30%
37                Oregon   58,700         7.30%  2018    383,300        11.60%
38          Pennsylvania  242,200         9.70%  2018  1,012,600        10.00%
39          Rhode Island   14,700         7.90%  2018    101,300        11.90%
40        South Carolina      ---           ---  2018    360,400         9.10%
41          South Dakota      ---           ---  2018     51,700         7.90%
42             Tennessee  139,200         9.70%  2014    513,100         9.80%
43                 Texas  541,800         7.90%  2015  1,572,800         7.40%
44                  Utah   49,700         5.50%  2018    206,400         9.30%
45               Vermont    8,800         8.80%  2018     60,200        12.00%
46              Virginia      ---           ---  2018    563,500         8.50%
47            Washington  115,900         7.30%  2016    559,000         9.60%
48         West Virginia   34,600         9.40%  2014    175,400        12.30%
49             Wisconsin  103,000         8.40%  2018    408,300         9.00%
50               Wyoming   11,700         8.60%  2012     38,100         8.70%

In [7]:
# Data cleaning for AQI by states
aqi_state = aqi.groupby(['state']).agg('mean')
#states.shape
aqi_state.drop(['good days', 'moderate days', 'very unhealthy days', 'unhealthy days',
                'hazardous days', 'unhealthy for sensitive groups days'],
               inplace = True, axis=1)

aqi_state["year"] = aqi_state["year"].astype(int)
aqi_state.head()

,year,days with aqi,max aqi,90th percentile aqi,median aqi,days co,days no2,days ozone,days so2,days pm2.5,days pm10
state,,,,,,,,,,,
Alabama,2010,282.263158,112.263158,70.315789,46.157895,0.052632,0.000000,131.000000,0.210526,142.105263,8.894737
Alaska,2010,262.125000,88.500000,44.875000,19.750000,2.375000,0.000000,59.375000,0.000000,191.000000,9.375000
Arizona,2010,309.769231,238.384615,75.000000,46.000000,0.000000,5.615385,180.384615,22.000000,22.461538,79.307692
Arkansas,2010,222.647059,100.000000,63.529412,41.352941,0.000000,2.941176,110.352941,14.470588,94.882353,0.000000
California,2010,350.396226,305.603774,80.603774,45.301887,0.150943,8.886792,222.509434,0.056604,105.943396,12.849057

In [8]:
aqi.head()
aqi_ca = aqi[aqi['state'] == 'California']
aqi_ca = aqi_ca.reset_index(drop=True)
aqi_ca.drop(['good days', 'moderate days', 'very unhealthy days', 'unhealthy days',
                'hazardous days', 'unhealthy for sensitive groups days'],
               inplace = True, axis=1)
#aqi_ca['county'] = aqi_ca['county'].apply(standardize_region)

#aqi_ca.shape
county_cancer_2010 = county_cancer[county_cancer['Year'] == 2010]
county_cancer_2010 = county_cancer_2010[county_cancer_2010['Age'] == 'All Ages']
county_cancer_2010['California Region'] = county_cancer_2010['California Region'].apply(standardize_region)
county_cancer_2010

NameError: name 'standardize_region' is not defined

In [ ]:
# remove " county"
def standardize_region(str_in):
    
    try:
        str_in = str_in.lower()
        str_in = str_in.strip()

        if 'county' in str_in:
            str_in = str_in.replace('county', '')
            output = str_in
    except:
        output = np.nan
        
    return output

In [ ]:
aqi_ca

We pulled three different datasets to work with to answer our question. First we imported Pandas and numpy to utilize for the cleanup. 

- In the pollution dataset we took out all of the extra spaces using the .strip function and turned all of the characters into lowercase using the .lower function. Since the AQI dataset was by county, we used the groupby function to group everything by states instead. We then renamed some of the column names to be more concise. 

- For the asthma dataset we repeated the same steps of taking out extra spaces and making everything lowercase as well as renaming the column names. In the description of the data it stated that unless the year was other than 2018, the year was left empty. Therefore,  we filled in the empty rows under the year column with 2018, as per the dataset description. Lastly we made sure that the values under the year column were integers. 

-